.quotes-table {
    border-collapse: collapse;
    width: 100%;
}

.quotes-table tr:first-child td {
    font-weight: bold;
    background-color: #BA3B46 !important;
    border-top: none;
    color: white;
}

.quotes-table tr:nth-child(2n) td {
    background-color: #61c9a8;
}
.quotes-table tr:nth-child(2n - 1) td {
    background-color: #a4e0cd;
}

.quotes-table td {
    text-align: center;
    padding: 5px;
    border-top: 1px solid black;
}